@charset "UTF-8";
/* CSS Document */

.div_body { 
	background:#3FF; 
	height:150px;
}

#div_left {
	float:left; 
	height:80px;
	margin-top:30px;
	padding-top:30px;
}

#div_center {
	float:left; 
	width:50%;
	text-align:center;
}

#div_right {
	float:left;
}
	
.div_style {
	border:1px solid red;
}

